main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

button {
	border-radius: 5px;
	background-color: #993333;
	color: white;
	border: none;
	font-size: 20px;
}
	button:hover {
		background-color: #582c85;
	}
	button a {
		text-decoration: none;
		color: white;
	}

#scores {
	width: 35em;
	margin-bottom: 2%;
}

.score-board {
	background-color: indianred;
	padding: 1%;
	border-radius: 8px;
	color: honeydew;
}

.quiz-group {
	margin: 2%;
}

.quiz-topic {
	width: fit-content;
	background-color: tomato;
	padding: .5% 1%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: dashed 1px #bd6157;
}

.score-group {
	padding: .8%;
	background-color: tomato;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1%;
}
	.score-group:nth-child(odd) {
		background-color: #ff7e67;
	}
	.score-group:last-child {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.score-group span {
		width: fit-content;
		justify-self: center;
	}

.initials::before {
	content: "Player: ";
}

.score::before {
	content: "Score: ";
}
