header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: 5px 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5%;
}
	main h1 {
		margin: 0%;
	}

#start {
	padding-top: .5%;
	padding-bottom: .5%;
	font-size: 1rem;
	border-radius: .6rem;
	border: solid 3px var(--quiz-red-alt);
	align-self: center;
	outline: none;
	transition: .15s;
	user-select: none;
}
	#start:hover {
		cursor: pointer;
		background-color: var(--quiz-red-alt);
		color: aliceblue;
		border: solid 3px var(--quiz-red);
	}

p {
	margin: 0%;
	padding: 1%;
	text-align: center;
}

a {
	text-decoration: none;
}

select {
	margin-bottom: 1%;
	padding: .6%;
	align-self: center;
	background-color: var(--quiz-red);
	border-radius: 5px;
	color: aliceblue;
	font-size: 20px;
}
	select option:nth-child(even) {
		background-color: var(--quiz-red-alt);
	}

hr {
	width: 100%;
	margin-top: 0%;
}


.container {
	display: flex;
	flex-direction: column;
	width: 55%;
	min-width: 35rem;
}

.choices-block {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	row-gap: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
	/* width: fit-content; */
}
	.choices-block .choice, .submit {
		font-size: .9rem;
		line-height: 1.1rem;
		width: fit-content;
		border-radius: 5px;
		background-color: var(--quiz-red);
		color: white;
	}

input {
	line-height: 1rem;
}

.score-submission {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	column-gap: 5px;
}

.score-report {
	align-self: flex-start;
	padding-left: 0%;
	padding-right: 0%;
}
